---
title: "robblewis: developer"
layout: home
script: home
---

<img class="hero" src="/assets/img/home-hero.jpg">

<p>Hi. I’m Robb Lewis, a developer living in Portsmouth, UK. I am currently studying Web Technologies at Portsmouth University. I'm not a designer (and don't pretend to be), so I work with designers to create functional sites and applications from their designs.</p>

<p>I do all my development work with an 27″ i3 iMac, a 2011 11″ i5 Macbook Air, an iPad Mini and an iPhone 4S. Most of <a href="/blog/" title="Blog">my writing</a> is done in <a href="http://bywordapp.com/">Byword</a> (iOS and OS X) and <a href="http://www.red-sweater.com/marsedit/">MarsEdit</a> with everything synced via <a href="http://db.tt/y4aAIZ9">Dropbox</a>. I write code in <a href="http://www.sublimetext.com/">Sublime Text</a> and version it with Git/<a href="http://github.com/rmlewisuk">GitHub</a>. I also use <a href="http://mikerogers.io">Mike Rogers’</a> <a href="https://chrome.google.com/webstore/detail/pilnojpmdoofaelbinaeodfpjheijkbh">LivePage Chrome extension</a>.</p>

<p>I like trying out new web services and social networks but I generally only use  <a href="http://twitter.com/rmlewisuk">Twitter</a>. If you’re thinking about following me you should <a href="/projects/social/" title="My Social Media Rules">read this first</a>.</p>

<p>I would love to start my own podcast but time is not in abundance at the moment. If, however, you would like a guest with a great knowledge of development, technology or the web in general (or Back to the Future), <a href="/contact">get in contact</a>.</p>

{% include home-latest-post.html %}

{% include home-latest-repo.html %}

<h3>&diams; Latest portfolio entry &raquo; <a href="/portfolio#jdm">JustDelete.me</a></h3>

	<blockquote>
		<p>JustDelete.me started as a weekend project between Ed Poole and myself to create a directory of direct links to account deletion pages for web services.</p>
	</blockquote>

<!-- {% include home-latest-tweet.html %} Removed because Twitter sucks -->