<div class="wrapper">

	<div class="piece file-lister">

		<p class="fork"><code class="tag"><a href="https://github.com/rmlewisuk/file-lister"><i class="fa fa-code-fork"></i> Fork on GitHub</a></code></p>
		
		<span class="title">File Lister</span>

		<p class="tags">
			<code class="tag">Javascript</code>
			<code class="tag">PHP</code>
		</p>
	</div>

	<p><a href="https://github.com/rmlewisuk/file-lister">File Lister &raquo;</a></p>

	<p>Display a list of files in a directory with PHP, with lightbox for images.</p>

</div>