<div class="wrapper">

	<div class="piece imdb">

		<p class="fork"><code class="tag"><a href="https://github.com/rmlewisuk/imdb-downloader"><i class="fa fa-code-fork"></i> Fork on GitHub</a></code></p>
		
		<span class="title">IMDB Downloader Chrome Extension</span>

		<p class="tags">
			<code class="tag">Javscript</code>
			<code class="tag">Chrome Extension</code>
		</p>
	</div>

	<p><a href="chrome.google.com/webstore/detail/movie-downloader-for-imdb/dinhogfacedcmkmbkidnlcchcoanjgma">View on Chrome Store &raquo;</a></p>

	<p>This extension adds download links from YIFY to IMDB movie pages as well as actor, actress, director pages as well as your IMDB watchlist.</p>

	<p>Movie pages will show available download links for that movie, person pages will show all available films that starred that person and the watchlist page will look for download links for all movies in your watchlist.</p>

</div>