<div class="wrapper">

	<div class="piece isav">
		<span class="title">> Is Available</span>

		<p class="fork"><code class="tag"><a href="http://github.com/rmlewisuk/is-available"><i class="fa fa-code-fork"></i> Fork on GitHub</a></code></p>

		<p class="tags">
			<code class="tag">Javascript</code>
			<code class="tag">NPM</code>
		</p>
	</div>

	<p><a href="http://github.com/rmlewisuk/is-available">Is Available &raquo;</a></p>

	<p>CLI for checking domain availability through the <a href="https://domai.nr/api">Domainr API</a>.</p>

</div>