<div class="wrapper">

	<div class="piece jdm">
		<span class="title">just<span class="red">delete</span>.me</span>

		<p class="fork"><code class="tag"><a href="http://github.com/rmlewisuk/justdelete.me"><i class="fa fa-code-fork"></i> Fork on GitHub</a></code></p>

		<p class="tags">
			<code class="tag">PHP</code>
			<code class="tag">Javascript</code>
			<code class="tag">Open Source</code>
		</p>
	</div>

	<p><a href="http://justdelete.me">http://justdelete.me &raquo;</a></p>

	<p>JustDelete.me started as a weekend project between <a href="http://edpoole.me">Ed Poole</a> and myself to create a directory of direct links to account deletion pages for web services. The site launched with 16 services. Within four days of launching the site, we'd been picked up by Wired and five days later we <a href="/just-delete-me-one-million-page-views">hit one million page views.</a></p>

	<p>The site now lists over 350 services, a <a href="https://chrome.google.com/webstore/detail/justdeleteme/hfpofkfbabpbbmchmiekfnlcgaedbgcf">Chrome extension</a> and has been partially translated into 18 languages.
	Here's some completely not-out-of-context-at-all quotes:</p>
	        	
	<p><a href="https://twitter.com/alexbrooks/status/369523649683783680">Alex Brooks:</a></p>

		<blockquote>
			<p>"...could it be more perfect?".</p>
		</blockquote>

	<p><a href="https://twitter.com/PhillyD/status/370991953090846721">Philip DeFranco:</a></p>

		<blockquote>
			<p>"Its like suicide but for your social media internet thingies".</p>
		</blockquote>

	<p><a href="https://twitter.com/iainbroome/status/369566863220813825">Iain Broome:</a></p>

		<blockquote>
			<p>"Awesome work. Also, I wasn't able to leave lovefilm without a phone call. Idiots.".</p>
		</blockquote>
</div>