<div class="wrapper">

	<div class="piece pebbleGS">

		<p class="fork"><code class="tag"><a href="https://github.com/rmlewisuk/gosquared-for-pebble"><i class="fa fa-code-fork"></i> Fork on GitHub</a></code></p>
		
		<span class="title">GoSquared for Pebble</span>

		<p class="tags">
			<code class="tag">C</code>
			<code class="tag">Javascript</code>
		</p>
	</div>

	<p><a href="https://apps.getpebble.com/applications/542dacf814cfa3607c0002ad">GoSquared for Pebble &raquo;</a></p>

	<p>See GoSquared current visitors directly from your Pebble. See current and active visitors as well as 7 day average and highest.</p>

</div>