		<footer>
			<section class="inner">
				<p>&copy; 2013 Robb Lewis<br>
					<a href="http://twitter.com/rmlewisuk"><i class="fa fa-twitter"></i> Twitter</a> | 
					<a href="http://github.com/rmlewisuk"><i class="fa fa-github"></i> Github</a> | 
					<a href="/humans.txt"><i class="fa fa-file-text-o"></i> humans.txt</a> | 
					<a href="/rss.xml"><i class="fa fa-rss"></i> Subscribe</a>
				</p>
			</section>
		</footer>
		
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/scripts.js"></script>

	</body>
	
</html>