<!DOCTYPE HTML>
<html>

	<head>

		<!-- 
			 ___     _    _    _               _                
			| _ \___| |__| |__| |   _____ __ _(_)___  _ __  ___ 
			|   / _ \ '_ \ '_ \ |__/ -_) V  V / (_-<_| '  \/ -_)
			|_|_\___/_.__/_.__/____\___|\_/\_/|_/__(_)_|_|_\___|
			
		-->
	
		<title>{{ site.name }} &raquo; {{ page.title }}</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="Robb Lewis developer in Portsmouth, UK. Blogs about technology, development and the web.">
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Twitter cards -->
			<meta name="twitter:card" content="summary">
			<meta name="twitter:site" content="@rmlewisuk">
			<meta name="twitter:creator" content="@rmlewisuk">
			<meta name="twitter:domain" content="robblewis.me">
			<meta name="twitter:title" content="{{ page.title | escape }}">
		{% if page.layout == 'post' %}
			<meta name="twitter:description" content="{{ page.excerpt | escape }}">
			{% if page.featured %}
				<meta name="twitter:image:src" content="http://robblewis.me/assets/img/posts{{ page.permalink }}.png">
			{% endif %}
		{% else %}
			<meta name="twitter:description" content="Robb Lewis developer in Portsmouth, UK. Blogs about technology, development and the web.">
			<meta name="twitter:image:src" content="http://robblewis.me/assets/img/avatar_170.png">
		{% endif %}

		<link rel="author" href="/humans.txt" />
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png" />

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		
    	{% if page.title == 'Movie Downloader Chrome Extension' %}
    		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dinhogfacedcmkmbkidnlcchcoanjgma">
    	{% endif %}

    	<!-- GoSquared -->
    	<script>
    	  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    	  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    	  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    	  insertBefore(d,q)}(window,document,'script','_gs');
    	  
    	  _gs('GSN-829474-I');
    	</script>
		
	</head>
	
	<body>

		{% include nav.html %}

		<section class="block primary">
			<header class="inner {% if page.header_class %}{{page.header_class}}{% endif %}">
				{% if page.layout == 'home' %}
					<img src="/assets/img/avatar_170.jpg" width="170" height="170" alt="Robb Lewis Avatar">
				{% else %}
					<h1>{{ page.title }}</h1>
				{% endif %}

				{% if page.subheading %}
					<p>{{ page.subheading }}</p>
				{% endif %}

				<!-- Blog post data -->
				{% if page.layout == 'post' %}
					{% if page.featured %}
						<img class="blog-header" src="/assets/img/posts{{ page.permalink }}.png" width="800" height="250" alt="{{page.title}} header image">
					{% else %}
						<hr>
					{% endif %}
					{% if page.image_credit %}
						<p class="meta post">Image by <a href="{{ page.image_credit }}">{{ page.image_credit_name }}</a></p>
					{% endif %}

					<p class="meta">
						<span class="timing">
							{{ page.date | date: "%A %d %B, %Y" }}<br>
							Published: {{ page.date | timeago: 1 }}<br>
							Reading time: {{ page.content | reading_time }}
						</span>
					</p>
				{% endif %}
			</header>
		</section>