<nav role="navigation">
	<section>
		<div class="logomark">RL</div>
		<div class="menu">
			<ul>
				<li {% if page.path == 'index.html' %} class="current" {% endif %}>
					<a href="/">Home</a>
				</li>
				<li {% if page.layout == 'post' or page.path contains 'blog/' %} class="current" {% endif %}>
					<a  href="/blog">Blog</a>
				</li>
				<li {% if page.title == 'Portfolio' %} class="current" {% endif %}>
					<a href="/portfolio">Portfolio</a>
				</li>
				<li {% if page.path contains 'projects/' %} class="current" {% endif %}>
					<a href="/projects">Projects</a>
				</li>
			</ul>
		</div>
	</section>
</nav>