  <nav id="main">
      <div class="wrap">
        <a class="site-title" href="/">{{ site.name }}</a>
    
        <ul class="burger">
          <li><a href="#">&#9776;</a></li>
        </ul>

        <ul class="menu">
          <span class="pages">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </span>
        </ul>
      <div>
    </nav>