<section class="portfolio" id="xrm">


	<h2><a href="http://xrmpartners.co.uk">XRM Partners »</a></h2>
	<section class="hero">
	        <img src="/assets/img/portfolio/xrm/xrm.png">
	</section>

	<p>This project for XRM Partners involved converting all three of the company's web assets from Joomla to Wordpress, training staff in the use of Wordpress, social media intergration as well as ongoing technical support.</p>
	
	<p>Tracey Cordory, Marketing Director:</p>

	<blockquote>
		<p>"Robb was a wealth of knowledge whilst helping us choose a content management system that would fit XRM Partners' needs. He kept us informed at every stage of development and we would highly recommend him to other businesses."</p>
	</blockquote>

</section>