<section class="portfolio jdm">
	<h2><a href="http://justdelete.me">JustDelete.Me »</a></h2>

<img src="/assets/img/portfolio/jdm/hero.png">

<p>JustDelete.me started as a weekend project between <a href="http://edpoole.me">Ed Poole</a> and myself to create a directory of direct links to account deletion pages for web services. The site launched with 16 services. Within four days of launching the site, we'd been picked up by Wired and five days later we <a href="/just-delete-me-one-million-page-views">hit one million page views.</a></p>

<p>The site now lists over 200 services, a <a href="https://chrome.google.com/webstore/detail/justdeleteme/hfpofkfbabpbbmchmiekfnlcgaedbgcf">Chrome extension</a> and has been partially translated into 10 languages.
Here's some completely not-out-of-context-at-all quotes:</p>
        	
<p><a href="https://twitter.com/alexbrooks/status/369523649683783680">Alex Brooks:</a></p>

	<blockquote>
		<p>"...could it be more perfect?".</p>
	</blockquote>

<p><a href="https://twitter.com/PhillyD/status/370991953090846721">Philip DeFranco:</a></p>

	<blockquote>
		<p>"Its like suicide but for your social media internet thingies".</p>
	</blockquote>

<p><a href="https://twitter.com/iainbroome/status/369566863220813825">Iain Broome:</a></p>

	<blockquote>
		<p>"Awesome work. Also, I wasn't able to leave lovefilm without a phone call. Idiots.".</p>
	</blockquote>

<h3>Featured in:</h3>

	<section class="featured">
		<a href="http://minimalmac.com/post/58698882020/robb-lewis-just-delete-me">
		<img src="/assets/img/portfolio/jdm/featured-minimalmac.png"></a>
	</section>

	<section class="featured">
		<a href="http://lifehacker.com/just-delete-me-is-a-massive-list-of-links-to-close-all-1245040101">
		<img src="/assets/img/portfolio/jdm/featured-lifehacker.png"></a>
	</section>

	<section class="featured">
		<a href="http://mashable.com/2013/08/24/justdelete-me/">
		<img src="/assets/img/portfolio/jdm/featured-mashable.png"></a>
	</section>

	<section class="featured">
		<a href="http://techcrunch.com/2013/08/23/justdelete-me-wants-to-help-you-pull-the-plug-on-all-those-pesky-online-accounts/">
		<img src="/assets/img/portfolio/jdm/featured-techcrunch.png"></a>
	</section>

	<section class="featured">
		<a href="http://www.wired.com/gadgetlab/2013/08/just-delete-me/">
		<img src="/assets/img/portfolio/jdm/featured-wired.jpg"></a>
	</section>

	<section class="featured">
		<a href="http://live.wsj.com/video/tired-of-being-on-facebook-just-delete-me/39305F59-6E77-4BC8-B3F3-5DDE9D69347A.html">
		<img src="/assets/img/portfolio/jdm/featured-digits.png"></a>
	</section>
</section>