

.third {
	width: 30%;
	float: left;
	margin: 10px;
	line-height: 1.5;
}

.one, .two, .down {
	padding: 3px 5px 15px 5px;
	text-align: center;
}
.one	{ background: #a0ffb3; }
.two	{ background: #d9ff67; }
.down	{ background: #ff7474; }

.bttf ul { margin-top: -10px; }

.bttf li { 
	list-style-type: none;
	padding: 3px 5px 3px 5px;
	background: #fff;
	margin-left: -40px;
}

.bttf li:nth-child(odd) { background: #dfdfdf; }

@media screen and (max-width: 700px) {

	.third {
		display: block;
		width: 95%;
	}

}