/*
 * Reset
 */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #F3F3F3;
	color: #222222;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.8em;
	margin: 0;
	padding: 15px;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}

.content a:link, .content a:active, .content a:visited,
nav a:link, nav a:active, nav a:visited {
	color: #f43e46;
	text-decoration: none;
	border-bottom: 1px solid #fc4d37;
}

.content a:hover {
	color: #fc4d37;
	text-decoration: none;
	border-bottom: none;
}

blockquote {
	color: #ABB1B7;
	font-style: italic;
}

img {
	max-width: 100%;
}

.subtitle {
	color: #f43e46;
	font-size: 80%;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: -20px;
	font-weight: normal;
}

/**
 * Header Navigation
 */

header h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

nav {
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}

nav a:link, nav a:active, nav a:visited {
	border-bottom: 1px solid #f3f3f3;
	transition: border-color 0.5s ease;
}

nav a:hover,
nav a.active {
	border-bottom: 1px solid #f43e46;
}

nav a { margin: 0 10px; }

/* -----------------
	Posts
----------------- */

.blog-posts__list {}
.blog-posts__list h2 {
	font-size: 1.3em;
}
.blog-posts__list__item {}
.blog-posts__list__item__title {}
.blog-posts__list__item__subtitle {
	font-size: 60%;
}

/* -----------------
	Projects
----------------- */

.projects__inner {
	height: 150px;
    display: table;
    background-color: #323232;
	background-repeat:no-repeat;
	background-size: cover;
	border-bottom: none!important;
}

.projects__info {
	color:white;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #000;
	font-size: 1.4em;
}

.projects__title {
	font-size: 0.6em;
	font-weight: normal;
}

.projects__inner.studs { background-image:url('/assets/img/home/studs.jpg'); }
.projects__inner.devsdodesign { background-image:url('/assets/img/home/devsdodesign.jpg'); }
.projects__inner.justdeleteme { background-image:url('/assets/img/home/justdeleteme.jpg'); }
.projects__inner.ruminate { background-image:url('/assets/img/home/ruminate.png'); }
.projects__inner.github { background-image:url('/assets/img/home/github.jpg'); }
.projects__inner.g2b { background-image:url('/assets/img/home/guidetobricklink.jpg'); }
.projects__inner.chrome { background-image:url('/assets/img/home/chrome-extensions.jpg'); }

.projects__inner:hover > .projects__info { color: #FF6330; }

.footer--main {
	text-align: center;
	margin-bottom: 20px;
}

.footer--main a {
	margin: 0 10px;
}

.next {
	float: right;
}

.byline {
    padding: 10px 0;
    font-size: 80%;
    font-style: italic;
}

.blog-post-list p {
	margin: 5px;
}

.blog-post img {
	margin: 0 auto;
	display: block;
}