---
title: The Robb Blog
layout: page
section_class: blog-index
---

<div class="blog-post-list">
	{% for post in site.posts %}

		{% unless post.next %}
			<h2>{{ post.date | date: '%Y' }}</h2>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			
			{% if year != nyear %}
				<h2>{{ post.date | date: '%Y' }}</h2>
			{% endif %}
		{% endunless %}

	<p><span class="subtitle">{{ post.date | date: "%d/%m" }} </span><a href="{{ post.url }}">{{ post.title }}</a></p>
	{% endfor %}
</div>

</section>