---
title: The Robb Blog
layout: page
section_class: blog-index
subheading: '<a href="/blog/archive">View the archive</a>'
---
<h2 class="subtitle"><a href="/blog/archive">Full Archive</a></h2>

<ul class="blog-posts__list">

{% for post in paginator.posts %}
	
	<li class="blog-posts__list__item">
		<h2><a href="{{ post.url }}" class="blog-posts__list__item__title">{{ post.title}}</a></h2>
		<p class="blog-posts__list__item__subtitle subtitle">{{ post.date | date: "%A %d %B, %Y" }}</p>
	</li>

{% endfor %}

</ul>
    
{% if paginator.next_page %} 
	<a href="/blog/page/{{ paginator.next_page }}/" title="Next Page">&laquo; Older posts</a>
{% endif %} 

{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
		<a class="next" href="/blog" title="Previous Page">Newer posts &raquo;</a>
	{% else %}
		<a class="next" href="/blog/page/{{ paginator.previous_page }}/" title="Previous Page">Newer posts &raquo;</a>
	{% endif %}
{% endif %}

</section>