{% include header.html %}

	<h1 class="post-header">{{ page.title }}</h1>

	<p class="meta"><span class="icon">*</span> {{ page.date | date: "%A %d %B, %Y" }} | 
		<span class="icon">_</span> <a target="_blank" href="https://twitter.com/intent/tweet?text={{page.title}}&amp;url=http://robblewis.me{{page.permalink}}">tweet this article</a> | 
		<span class="icon">X</span><a target="_blank" href="http://www.facebook.com/sharer.php?u=http://robblewis.me{{page.permalink}}">share on facebook</a>
	</p>

	{% if page.featured %}
		<img src="/assets/img/posts{{ page.permalink }}.png">
	{% endif %}
	
	{{ content }}

	{% if page.link %}
    	<p>&infin; <a class="link" href="{{ page.link }}">{{ page.link-title }} &raquo;</a></p>
    {% endif %}

	{% include post-byline.html %}

	<nav id="more-posts">
		{% if page.previous %}
    		<a href="{{ page.previous.url }}" title="Previous post">&laquo; {{ page.previous.title }}</a>
    	{% endif %}
    	{% if page.next %}
    		<a class="next" href="{{ page.next.url }}" title="Next post">{{ page.next.title }} &raquo;</a>
    	{% endif %}
  	</nav>

{% include footer.html %}