{% include header.html %}

<section class="block primary">
    <header class="inner">

        <h1 class="post-heading">{{ page.title }}</h1>

        <!-- {% if page.featured %}
            <img class="blog-header" src="/assets/img/posts{{ page.permalink }}.png" width="800" height="250" alt="{{page.title}} header image">
        {% endif %} -->
        {% if page.image_credit %}
            <p class="meta post">Image by <a href="{{ page.image_credit }}">{{ page.image_credit_name }}</a></p>
        {% endif %}

        <p class="meta {% unless page.image_credit %}no-image{% endunless %}">
            <span class="timing">
                {{ page.date | date: "%A %d %B, %Y" }}<br>
                {{ page.date | timeago }}
            </span>
        </p>
        
    </header>
</section>

<section class="block secondary">
	<section class="inner" role="main">
		{{ content }}

		{% if page.link %}
    		<p>&infin; <a class="link" href="{{ page.link }}">{{ page.link-title }} &raquo;</a></p>
    	{% endif %}

    	<p class="byline">This weblog has no comments. If you want to discuss this post or anything else contact me <a href="http://twitter.com/rmlewisuk">on&nbsp;Twitter (@rmlewisuk)</a> or <a href="/contact">email me</a>.</p>

        <p>
        	{% if page.previous %}
        		<a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        	{% endif %}
        	{% if page.next %}
        		<a class="next post" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        	{% endif %}
        </p>
	</section>
</section>

{% include footer.html %}