<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=792, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="/assets/css/shower.css">

	<script type="text/javascript">
        var GoSquared = {};
        GoSquared.acct = "GSN-829474-I";
        (function(w){
          function gs(){
            w._gstc_lt = +new Date;
            var d = document, g = d.createElement("script");
            g.type = "text/javascript";
            g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
            var s = d.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(g, s);
          }
          w.addEventListener ?
            w.addEventListener("load", gs, false) :
            w.attachEvent("onload", gs);
        })(window);
    </script>
</head>

<body class="list">

	<header class="caption">
		<h1>{{ page.title }}</h1>
		<p>Robb Lewis, {{ page.event }}, {{ page.date }}</p>
		<p class="download">
			{% if page.video %}
				<a href="{{page.video}}">watch talk</a> | 
			{% endif %}
			{% if page.feedback %}
				<a href="{{ page.feedback }}">give feedback</a> | 
			{% endif %}
			<a href="{{ page.download }}.pdf">download slides</a> | 
			<a href="notes.md">download notes</a>
		</p>
	</header>
	
	<section class="slide"><div>
		<h1>{{ page.title }}</h1>
		<p>Robb Lewis, {{ page.event }}, {{ page.date }}</p>
		<p><em>{{ page.description }}</em></p>
	</div></section>

	{{ content }}
	
	<!-- To hide progress bar from entire presentation just remove “progress” element. -->
	<div class="progress"><div></div></div>

	<script src="/assets/js/shower.min.js"></script>

	<!-- Copyright © 2013 Yours Truly, Famous Inc. -->
</body>

</html>